html,
body {
  font-family: "CoolveticaRg-Regular V2", "Ariel", "sans-serif";
  scroll-behavior: smooth;
}

/* ----- HOME PAGE SECTION ----- */
h1 {
  position: absolute;
  top: 64svh;
  left: 28svw;
  font-size: clamp(1rem, 4.1rem, 5rem);
  color: black;
}
.slogan-end {
  color: #fff;
}

.background {
  position: relative;
  height: 100svh;
  background: #fff url(./images/Home-page/banner-HP.jpg);
  background-size: 100svw 100svh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
}

.big-logo-home-page {
  position: absolute;
  top: 17svh;
  left: 27svw;
  height: 46svh;
  width: 25svw;
}

.border {
  position: absolute;
  top: 0;
  right: 23vw;
  width: 15vw;
  height: 65vh;
  border-left: 3.5vw solid #f47321;
  border-bottom: 6vh solid #f47321;
}

.small-banner-home-page {
  position: absolute;
  top: 0;
  right: 0;
  height: 65svh;
  width: 38svw;
}

/* all pages headings */
.news-heading,
.aboutUs-heading,
.services-heading,
.gallery-heading,
.contact-heading {
  font-size: 4rem;
  text-transform: uppercase;
  color: #f47321;
}

/* all pages slogans */
.news-heading,
.aboutUs-heading,
.services-heading,
.gallery-heading,
.contact-heading,
.news-heading-slogan,
.aboutUs-slogan,
.services-slogan,
.gallery-slogan,
.contact-slogan {
  text-align: right;
  padding-right: 4svw;
}

.news-heading-slogan,
.aboutUs-slogan,
.services-slogan,
.gallery-slogan,
.contact-slogan {
  padding-bottom: 0.4svh;
  font-size: 2rem;
}

/* ----- MAIN MENU ----- */
.main-menu {
  position: fixed;
  width: 100svw;
  z-index: 1000;
}

.main-menu,
.menu-item,
.menu-links {
  display: inline-block;
  bottom: 6svh;
  font-size: 1.25em;
  text-align: center;
  color: #fff;
  background-color: #f47321;
}

.menu-links:link {
  padding: 0.2em 2em;
  text-decoration: none;
}

/* .menu-links:visited {
  color: #fff;
  background-color: #000;
} */

.menu-links:hover {
  color: #f47321;
  background-color: #fff;
}

.menu-links:active {
  color: #fff;
  background-color: #000;
}
/* ----- NEWS PAGE SECTION ----- */
.News {
  width: 100vw;
  height: 134vh;
  position: relative;
}

.news-header {
  background-color: #f47321;
}

.news-heading {
  color: #fff;
  margin-bottom: -1svh;
}

.article1-news {
  display: flow-root;
  margin-top: 5vh;
}

.article2-news {
  margin-top: 4vh;
}

.article1-news,
.article3-news {
  margin-left: 8vw;
}

.article3-news {
  margin-top: 10vh;
}

.img-article1-news,
.img-article3-news {
  float: left;
  margin-right: 2vw;
  border-right: 2.5em solid #f47321;
  border-bottom: 2.5em solid #f47321;
}

.img-article2-news {
  float: right;
  margin-right: 8svw;
  border-left: 2.5em solid #f47321;
  border-bottom: 2.5em solid #f47321;
}

.title-article1-news,
.title-article2-news,
.title-article3-news {
  font-size: 2.5em;
  color: #fff;
  background-color: #f47321;
}

.title-article2-news {
  width: 77svw;
  text-align: right;
}

.paragraph-article1-news,
.paragraph-article2-news,
.paragraph-article3-news {
  font-size: 1.5rem;
  font-family: "timestimestimes normal normal";
  color: #3c3b3b;
  text-wrap: balance;
  line-height: 2.5rem;
}

.paragraph-article2-news {
  padding-left: 4vw;
}

.link-article1-news,
.link-article2-news,
.link-article3-news {
  color: #f47321;
}

.small-logo-news-section {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* ----- ABOUT US PAGE SECTION ----- */
.background-aboutUs {
  background: #fff url(./images/AboutUs/the-team-divan-com.jpg);
  background-size: 70svw 100svh;
  height: 100svh;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
}

/* formatting employees info */
.employees-info {
  position: relative;
}

.anna-johnson-description,
.hannah-mayer-description,
.james-dillon-description,
.mariah-deen-description {
  position: absolute;
  width: 13svw;
  height: 30svh;
  background-color: #f47321;
  color: #fff;
}

.anna-johnson-description {
  bottom: 35svh;
  left: 22svw;
}

.hannah-mayer-description {
  bottom: 15svh;
  left: 35svw;
}

.james-dillon-description {
  bottom: 26svh;
  right: 38.2svw;
}

.mariah-deen-description {
  bottom: 15svh;
  right: 25.2svw;
}

.anna-johnson,
.anna-johnson-job,
.hannah-mayer,
.hannah-mayer-job,
.james-dillon,
.james-dillon-job,
.mariah-deen,
.mariah-deen-job {
  text-align: center;
  text-transform: uppercase;
}

.anna-johnson,
.hannah-mayer,
.james-dillon,
.mariah-deen {
  padding-top: 1svh;
  font-size: 1.7rem;
}

.anna-johnson-job,
.hannah-mayer-job,
.james-dillon-job,
.mariah-deen-job {
  font-size: 1.2rem;
}

.anna-johnson-info,
.hannah-mayer-info,
.james-dillon-info,
.mariah-deen-info {
  padding-top: 1svh;
  padding-right: 2svw;
  padding-left: 2svw;
  font-family: "timestimestimes normal normal";
  text-wrap: balance;
  line-height: 2svh;
}

/* Styling social networks icons */
.fa-brands {
  position: relative;
  top: 1svh;
  left: 9svw;
  font-size: 2rem;
  color: #0866ff;
  background-color: #fff;
}

/*----- SERVICES PAGE SECTION ----- */
.services {
  width: 100svw;
  height: 100svh;
  position: relative;
  background-color: #f47321;
}

.services-header {
  position: relative;
  top: 7svh;
  background-color: #fff;
}

.title-furniture-design,
.title-own-design,
.title-restoration,
.title-delivery {
  position: absolute;
  font-size: 1.3rem;
  color: #fff;
}

.furniture-design,
.own-design,
.restoration,
.delivery {
  position: absolute;
}

.furniture-design {
  top: 26svh;
  left: 30svw;
}

.own-design {
  top: 26svh;
  left: 60svw;
}

.restoration {
  left: 30svw;
  bottom: 22svh;
}

.delivery {
  left: 60svw;
  bottom: 22svh;
}

.title-furniture-design {
  top: 49svh;
  left: 31.3svw;
}

.title-own-design {
  top: 49svh;
  right: 30svw;
}

.title-restoration {
  left: 30.1svw;
  bottom: 18svh;
}

.title-delivery {
  right: 31.5svw;
  bottom: 18svh;
}

.small-logo-services-section {
  position: absolute;
  bottom: 0.5svh;
}

/* ----- GALLERY PAGE SECTION ----- */
.gallery-header {
  margin-top: 7svh;
  background-color: #f47321;
}

.gallery-heading {
  color: #fff;
}

/* positioning and formatting gallery headings */
.gallery h3 {
  font-size: 2rem;
  color: #f47321;
  position: relative;
}

.chairs-heading {
  top: 7svh;
  left: 10svw;
}

.tables-heading {
  top: 10svh;
  left: 10svw;
}

.sofas-heading {
  top: 10svh;
  left: 10svw;
}

.beds-heading {
  top: 10svh;
  left: 10svw;
}

/* positioning gallery photos and adding borders */
.chairs,
.tables,
.sofas,
.beds {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}

/* Added borders and hover effect to the images */
.img-border-orange-chair {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-orange-chair:hover {
  background-color: #f47321;
}

.img-border-orange-chair:hover .orange-chair {
  transform: translate(1vw, 3.1vh);
}

.img-border-black-chair {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-black-chair:hover {
  background-color: #f47321;
}

.img-border-black-chair:hover .black-chair {
  transform: translate(1vw, 3vh);
}

.img-border-green-chair {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-green-chair:hover {
  background-color: #f47321;
}

.img-border-green-chair:hover .green-chair {
  transform: translate(1vw, 3vh);
}

.img-border-wooden-chair {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-wooden-chair:hover {
  background-color: #f47321;
}

.img-border-wooden-chair:hover .wooden-chair {
  transform: translate(1vw, 3.3vh);
}

.img-border-wooden-table {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-wooden-table:hover {
  background-color: #f47321;
}

.img-border-wooden-table:hover .wooden-table {
  transform: translate(1vw, 3.5vh);
}

.img-border-metal-table {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-metal-table:hover {
  background-color: #f47321;
}

.img-border-metal-table:hover .metal-table {
  transform: translate(1vw, 3.6vh);
}

.img-border-red-table {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-red-table:hover {
  background-color: #f47321;
}

.img-border-red-table:hover .red-table {
  transform: translate(1vw, 3vh);
}

.img-border-tall-table {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-tall-table:hover {
  background-color: #f47321;
}

.img-border-tall-table:hover .tall-table {
  transform: translate(1vw, 3vh);
}
/* ---------------- */
.img-border-dark-blue-sofa {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-dark-blue-sofa:hover {
  background-color: #f47321;
}

.img-border-dark-blue-sofa:hover .dark-blue-sofa {
  transform: translate(1vw, 3.6vh);
}

.img-border-red-sofa {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-red-sofa:hover {
  background-color: #f47321;
}

.img-border-red-sofa:hover .red-sofa {
  transform: translate(1vw, 3vh);
}

.img-border-light-green-sofa {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-light-green-sofa:hover {
  background-color: #f47321;
}

.img-border-light-green-sofa:hover .light-green-sofa {
  transform: translate(1vw, 3.1vh);
}

.img-border-black-sofa {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-black-sofa:hover {
  background-color: #f47321;
}

.img-border-black-sofa:hover .black-sofa {
  transform: translate(1vw, 3.4vh);
}

.img-border-two-person-white-bed {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-two-person-white-bed:hover {
  background-color: #f47321;
}

.img-border-two-person-white-bed:hover .two-person-white-bed {
  transform: translate(1vw, 3.1vh);
}

.img-border-two-person-black-bed {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-two-person-black-bed:hover {
  background-color: #f47321;
}

.img-border-two-person-black-bed:hover .two-person-black-bed {
  transform: translate(1vw, 3.5vh);
}

.img-border-one-person-white-bed {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-one-person-white-bed:hover {
  background-color: #f47321;
}

.img-border-one-person-white-bed:hover .one-person-white-bed {
  transform: translate(1vw, 3.3vh);
}

.img-border-one-person-black-bed {
  border-right: 1vw solid #f47321;
  border-bottom: 1.9vh solid #f47321;
}

.img-border-one-person-black-bed:hover {
  background-color: #f47321;
}

.img-border-one-person-black-bed:hover .one-person-black-bed {
  transform: translate(1vw, 3vh);
}

.beds {
  margin-bottom: 5vw;
}

/* ----- CONTACT US PAGE SECTION ----- */
.contact {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background-contactUs {
  background: #fff url(./images/ContactUs-page/img-contact-us-background.jpg);
  height: 100svh;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}

.contactUs {
  position: absolute;
  width: 40svw;
  height: 85svh;
  top: 17svh;
  left: 30svw;
  background-color: rgb(255, 255, 255, 0.9);
}

.contactUs-heading {
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 5rem;
  font-weight: 600;
}

.address,
.map {
  position: absolute;
}

.address {
  top: 2svh;
  left: 5svw;
}

.address p {
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #3c3b3b;
  font-weight: 400;
}

.address span {
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #3c3b3b;
  font-weight: 400;
}

.address a {
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #3c3b3b;
  font-weight: 400;
  text-decoration: none;
}

.map {
  bottom: 7svh;
  left: 10svw;
}
