html,
body {
  font-family: "Ariel", "sans-serif";
}

/* -----HOME PAGE SECTION----- */
#home {
  height: 100dvh;
  width: 100dvw; /*how to remove side-scrolling*/
  background: #fff url(./images/Home-page/banner-HP.png);
}

/* -----TOP MENU----- */
@import url(https://db.onlinewebfonts.com/c/b60ffa5ac0a8e99a0e8e765ded1cccf4?family=CoolveticaRg-Regular+V2);
.top-menu {
  position: fixed;
  width: 100dvw;
  z-index: 1000;
}

.top-menu,
.menu-item,
.menu-links {
  display: inline-block;
  bottom: 6dvh;
  text-decoration: none;
  font-size: 1.25em;
  text-align: center;

  color: #fff;
  background-color: #f47321;
}

.menu-links {
  padding: 0.2em 2em;
  font-family: "CoolveticaRg-Regular V2";
}
