html,
body {
  font-family: "CoolveticaRg-Regular V2", "Ariel", "sans-serif";
}

/* ----- HOME PAGE SECTION ----- */
h1 {
  position: absolute;
  top: 64dvh;
  left: 28dvw;
  font-size: 3.3rem;
  color: black;
}
.background {
  position: relative;
  height: 100dvh;
  background: #fff url(./images/Home-page/banner-HP.jpg);
  background-size: 100dvw 100dvh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
}

.big-logo-home-page {
  position: absolute;
  top: 17dvh;
  left: 27dvw;
  height: 46dvh;
  width: 25dvw;
}

.small-banner-home-page {
  position: absolute;
  top: 0;
  right: 0;
  height: 65dvh;
  width: 38dvw;
  border-left: 3.2dvw solid #f47321;
}

/* ----- TOP MENU ----- */
.top-menu {
  position: fixed;
  width: 100dvw;
  z-index: 1000;
}

.top-menu,
.menu-item,
.menu-links {
  display: inline-block;
  bottom: 6dvh;
  text-decoration: none;
  font-size: 1.25em;
  text-align: center;

  color: #fff;
  background-color: #f47321;
}

.menu-links {
  padding: 0.2em 2em;
}

/* ----- NEWS PAGE SECTION ----- */
.news-header {
  background-color: #f47321;
}

.news-heading {
  font-size: 4em;
  color: #fff;
}

.news-heading-slogan {
  padding-bottom: 0.4dvh;
  font-size: 2em;
}

.news-heading,
.news-heading-slogan {
  text-align: right;
  padding-right: 4dvw;
}
