html,
body,
img,
p,
span,
nav,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Background image and size of the home page */
html,
body {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: #bbb4b0 url(../images/Home-page/banner-HP.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
